{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>MyResume Saber Khakbiz - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}"
    />
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <!-- =======================================================
  
  * Author: Saber Khkabiz
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="#hero" class="nav-link scrollto active"
              ><i class="bx bx-home"></i> <span>Home</span></a
            >
          </li>
          <li>
            <a href="#about" class="nav-link scrollto"
              ><i class="bx bx-user"></i> <span>About</span></a
            >
          </li>
          <li>
            <a href="#resume" class="nav-link scrollto"
              ><i class="bx bx-file-blank"></i> <span>Resume</span></a
            >
          </li>
          <li>
            <a href="#portfolio" class="nav-link scrollto"
              ><i class="bx bx-book-content"></i> <span>Portfolio</span></a
            >
          </li>
          <li>
            <a href="#contact" class="nav-link scrollto"
              ><i class="bx bx-envelope"></i> <span>Contact</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1> Saber Khakbiz </h1>
        <p>
          I'm
          <span class="typed" data-typed-items="Programmer, Engineer"></span>
        </p>
        <div class="social-links">
          <a href="https://github.com/saber-khakbiz" class="github"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="https://edabit.com/user/qNszsXx28cTxvGSNj" class="Edabit"
            ><i class="bx bxs-yin-yang"></i
          ></a>
          <a href="live:saberkhakbiz73" class="skype"
            ><i class="bx bxl-skype"></i
          ></a>
          <a href="https://www.linkedin.com/" class="linkedin"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a href="https://t.me/saber_k14z" class="telegram"
            ><i class="bx bxl-telegram"></i
          ></a>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About</h2>
            <p>
              Certified data scientist with 4 years of experience for a diverse
              clientele. Highly-skilled in data visualization, machine learning,
              leadership.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              <h3>RF Engineer &amp; Data Scientist.</h3>
              <p class="fst-italic"></p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Birthday:</strong> <span>3 Feb 1995</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Website:</strong>
                      <span>github.com/saber-khakbiz</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Phone:</strong> <span>+098 9115980792</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>City:</strong> <span>Gilan, IR</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                      <span>27</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Degree:</strong>
                      <span>Master of Engineering</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>PhEmailone:</strong>
                      <span>saberkhakbiz73@gmail.com</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Languages:</strong> <span>en, fa</span>
                    </li>
                  </ul>
                </div>
              </div>
              <p>
                Innovative tech mind with 4 years of experience working as a
                computer programmer. Capable of working with a variety of
                technology and software solutions, and managing databases.
                Valuable team member who has experience diagnosing problems and
                developing solutions. Extensive expertise in networking systems
                and working with mainframe computers.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Skills</h2>
            <p>
              Graduate of Telecommunication Engineering with experience working
              across the software development. Excellent knowledge of the system
              topology and interface parameters like GSM/GPRS, iDEN, CDMA,
              network technologies. I have built 30+ projects on 7 small teams
              and am looking for a role with IRGC where I can grow and continue
              to learn from other experienced team members.
            </p>
          </div>

          <div class="row skills-content">
            <div class="col-lg-6">
              <div class="section-title">
                <h3>Programing</h3>
              </div>

              <div class="progress">
                <span class="skill">Python <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Matlab <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">C++/C <i class="val">85%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill"> GoLang <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="section-title">
                <h3>Engineering</h3>
              </div>

              <div class="progress">
                <span class="skill">Arduino <i class="val">95%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="95"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">HFSS/CST <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill"
                  >Advanced Design System(ADS) <i class="val">90%</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Altium Design <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="70"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Resume</h2>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Saber Khakbiz</h4>
                <p>
                  <em
                    >4 years of experience as RF Engineer and Software, my
                    experience as Radio Network planning, design and
                    optimization for GSM and Filtering systems.</em
                  >
                </p>
                <ul>
                  <li>Iran,Gilan, Laj</li>
                  <li>(+98) 4223852-2</li>
                  <li>saberkhakbiz73@gmail.com</li>
                </ul>
              </div>

              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Master of Science in Telecommunication Engineering</h4>
                <h5>2017 - 2020</h5>
                <p><em>Guilan University, Rasht, Guilan</em></p>
                <p>
                  Telecommunication engineering with a strong focus on
                  Microscrip Antenna and Filtering, Radar Design, and optical
                  and wireless satellite communications.
                </p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Electrical Engineering</h4>
                <h5>2012 - 2016</h5>
                <p><em>Guilan University, Rasht, Guilan</em></p>
                <p>
                  Electrical engineering with a strong focus on electric
                  operation and control, microgrids, electrical machines and
                  drives, electric vehicles,lightning protection, electrical
                  safety, electrical insulation systems, apparatus, devices, and
                  components.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Senior Python specialist</h4>
                <h5>2017 - Present</h5>
                <p><em>Knowledge Base Company, Tehran, TH </em></p>
                <ul>
                  <li>
                    The rock paper scissors is a game played between two players
                    that have few sets of rules.
                  </li>
                  <li>Mad Libs Generator Python Game.</li>
                  <li>Secure sensitive information by encoding messages.</li>
                  <li>
                    Oversee the efficient use of production project budgets
                    ranging from $1,000 - $12,000.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Electronics & RF Engineer specialist</h4>
                <h5>2016 - 2018</h5>
                <p><em>Pars Khazar, Rasht, Gu, IR</em></p>
                <ul>
                  <li>Developed design concepts and layout for PCB.</li>
                  <li>Reviewed and recommended improvements to RF designs.</li>
                  <li>
                    Evaluated performance of RF system and recommended design
                    improvements.
                  </li>
                  <li>Identified and rectified architectural issues.</li>
                  <li>
                    Coordinated with Test team to identify faults and to perform
                    debugging.
                  </li>
                  <li>
                    Created 4+ design presentations and proposals a month for
                    clients and account managers.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>
              Examples of various projects I have worked on in the field of
              <strong
                >Programming, Security, Telecommunications and Electronics
                Engineering</strong
              >
              in recent years can be seen in the images below.
            </p>
          </div>

          <div class="row">
            <div
              class="col-lg-12 d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Pro</li>
                <li data-filter=".filter-card">Eng</li>
                <li data-filter=".filter-web">Hck</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-1.jpg'%}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Pro 1</h4>
                  <p>Pro</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-1.jpg'%}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Pro 1"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Hck 3</h4>
                  <p>Hck</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Hck 3"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Pro 2</h4>
                  <p>Pro</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Pro 2"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Eng 2</h4>
                  <p>Eng</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Eng 2"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Hck 2</h4>
                  <p>Hck</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Hck 2"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-6.jpg'%}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Pro 3</h4>
                  <p>Pro</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-6.jpg'%}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Pro 3"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-7.jpg'%}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Eng 1</h4>
                  <p>Eng</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-7.jpg'%}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Eng 1"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-8.jpg'%}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Eng 3</h4>
                  <p>Eng</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-8.jpg'%}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Eng 3"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="portfolio-details.html"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="{% static 'assets/img/portfolio/portfolio-9.jpg'%}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Hck 3</h4>
                  <p>Hck</p>
                  <div class="portfolio-links">
                    <a
                      href="{% static 'assets/img/portfolio/portfolio-9.jpg'%}"
                      data-gallery="portfolioGallery"
                      class="portfolio-lightbox"
                      title="Hck 3"
                      ><i class="bx bx-plus"></i
                    ></a>
                    <a
                      href="{% static 'portfolio-details.html'%}"
                      class="portfolio-details-lightbox"
                      data-glightbox="type: external"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Companies</h2>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img
                    src="{% static 'assets/img/testimonials/testimonials-1.jpg'%}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Maktabkhooneh</h3>
                  <h4>E-Learning Providers</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Maktabkhooneh is an Iranian non-profit educational
                    organization created in 2012. Its goal is creating a set of
                    online tools that help educate students. The organization
                    produces short lessons in the form of videos. Its website
                    also includes supplementary practice exercises and materials
                    for educators.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img
                    src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Guilan University</h3>
                  <h4>An Institute of Higher Education</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The University of Guilan is an institute of higher education
                    and graduate studies in Rasht, a large city in the province
                    of Guilan, in Northern Iran, bordering the Caspian Sea. It
                    has nearly 18,000 students enrolled.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img
                    src="{% static 'assets/img/testimonials/testimonials-3.jpg'%}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Hack the Box</h3>
                  <h4>A Massive Hacking Playground</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Hack The Box is a massive hacking playground, and infosec
                    community of over 907k platform members who learn, hack,
                    play, exchange ideas and methodologies. An online
                    cybersecurity training platform that allows individuals,
                    businesses, universities, and all kinds of organizations all
                    around the world to level up their offensive and defensive
                    security skills through a fully gamified and engaging
                    learning environment.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
          </div>

          <div class="row mt-1">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>3 Street, Lahijan, Gilan-IR</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>saberkhakbiz73@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+98 9115980792</p>
                </div>
              </div>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
              <form
                action="{% static 'forms/contact.php' %}"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Saber Khakbiz</h3>
        <p>
          You can't change the people around you. But you can change the people
          around you.
        </p>
        <div class="social-links">
          <a href="https://github.com/saber-khakbiz" class="github"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="https://edabit.com/user/qNszsXx28cTxvGSNj" class="Edabit"
            ><i class="bx bxs-yin-yang"></i
          ></a>
          <a href="live:saberkhakbiz73" class="skype"
            ><i class="bx bxl-skype"></i
          ></a>
          <a href="https://www.linkedin.com/" class="linkedin"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a href="https://t.me/saber_k14z" class="telegram"
            ><i class="bx bxl-telegram"></i
          ></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>MyResume</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: [license-url] -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
          Designed by <a href="https://getbootstrap.com/">BootStrap</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
